@using AudioAnalyzer.Data
@model List<AudioAnalyzer.Data.Models.UploadedFile>
<!DOCTYPE html>

<html lang="ru">
<head>
    <title>UploadedFiles</title>
    <link rel="stylesheet" href="/css/result-table.css"/>
</head>
<body>
<div class="table-container">
    <div id="popup">
        <div id="popup-content">
            <h1>Запрос</h1>
            <p id="file-count">файлов: </p>
            <form id="request-form" method="get">
                @Html.AntiForgeryToken()
                <input style="width: 100%" type="submit" formaction="/Audio/Transcribe" value="Транскрибация"/>
                <input style="width: 100%" type="submit" formaction="/Audio/Search" value="Поиск"/>
                <input style="width: 100%" type="submit" formaction="/Audio/Summarize" value="Суммаризация"/>
                <input style="width: 100%" type="submit" formaction="/Audio/Classify" value="Классификация"/>
            </form>
        </div>
    </div>
    <table id="file-table" class="result-table">
        <thead>
        <tr>
            <td>
                <input type="checkbox" disabled="disabled"/>
            </td>
            <td>
                Название
            </td>
            <td>
                Формат
            </td>
            <td>
                Длительность
            </td>
            <td>
                Состояние
            </td>
            <td>
                Время загрузки
            </td>
        </tr>
        </thead>
        <tbody>
        @foreach (var file in Model)
        {
            <tr class="default-row">
                <td hidden="hidden">@file.Id</td>
                <td><input class="file-checkbox" type="checkbox"/></td>
                <td>@file.UploadedFileName</td>
                <td>@file.UploadedFileType</td>
                <td>@TimeSpan.FromSeconds(file.Duration).ToString(@"h\:mm\:ss\.f")</td>
                <td>@file.FileState.GetNameAttribute()</td>
                <td>@file.UploadedDate</td>
                <td></td>
            </tr>
        }
        </tbody>
    </table>
</div>
<script src="/js/fileTableScript.js"></script>
</body>
</html>